label {
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 5px;
}

input {
    display: none;
}

input:not(:checked) + span>i {
    display: none;
}

input + span {
    display: inline-block;
    width: 30px;
    height: 30px;

    border-radius: 8px;
    border: 2px solid black;
}

input:checked ~ span{
    color: green;
}

span>i {
    display: block;
    font-size: 28px;
    transform: translate(-6px, -4px);
}